h1{
    font-family: sans-serif;
    font-size: 35px;
    color: aliceblue;
    text-align: center;
}
h3{
    font-family: sans-serif;
    font-size: 35px;
    color: aliceblue;
}
button{
    background: #00f8ff;
    border: none;
    border-radius: 18px;
    height: 30px;
    width: 110px;
    box-shadow: 1px 1px 13px 5px #21ffec;
    margin-top: 15px;
    color: aliceblue;
}
#Notes{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 20px 7px #3e0478b0;
    padding: 100px 0;
    background: #4c00d4a8;
}
.Notes{
    background-image: url('../img/загруженное.jpg');
    background-repeat-x: no-repeat;
}
#back{
    background: #ca00ff91;
    width: 45%;
    height: 380px;
}
.column-one{
    max-width: min-content;
    color: aliceblue;
    font-size: 15px;
    font-family: sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.note-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    font-size: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.form-input{
    margin-top: 15px;
}
input{
    border: none;
    border-bottom: aliceblue solid;
    background: none;
    color: aliceblue;
}
textarea{
    border: none;
    border-bottom: aliceblue solid;
    background: none;
    color: aliceblue;
}

#app{
    background: #e45cff;
    padding: 100px 15px;
    transform: translateY(-96px);
    position: fixed;
    width: 98%;
}